/* Reset some default styles to ensure consistency */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.header-container{
    width: 100%;
    background-color: #07000b;
    text-align: center;
    height: 120px;
    color: #fff;
}
.header-heading{
    padding: 20px;

}
.header-ulidt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-ulidt a{
    text-decoration: none;
    color: white;
    

}

/* .header-list{
    padding: 0px 20px;
} */

/* 

nav li {
    display: inline;
    margin-right: 10px;
} */
/* 
nav a {
    text-decoration: none;
    color: #fff;
} */

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #000001;
    color: #fff;
    padding: 10px;
}

#contact-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.photo-gallery img{
    width: 750px;
    height: auto;
    
}